.contact {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-image: linear-gradient( 90deg, $primary-color 0%, $secondary-color 100%);
    margin-top: 10px;
    padding-bottom: 50px;
    padding-top: 50px;
    .contact-wrapper {
        margin-top: 4rem;
        padding: 0 3rem;
        backface-visibility: hidden;
        &__text {
            margin-bottom: 2.5rem;
        }
        &__text,
        a {
            font-size: 2.4rem;
            // Responsive for contact text
            @include respond(phone) {
                font-size: 2rem;
            }
        }
    }
}

.contact .images-c {
    display: flex;
    justify-content: space-around;
}