/* Add a black background color to the top navigation */

.button1 {
    background: #11d8aa;
    color: #fff;
    border: none;
    position: relative;
    height: 100rem;
    font-size: 2rem;
    padding: 10px 10px;
    cursor: pointer;
    transition: 800ms ease all;
    outline: none;
}

.button1:hover {
    background: #fff;
    color: #1AAB8A;
}

.button1:before,
.button1:after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    height: 2px;
    width: 0;
    background: #1bc09a;
    transition: 400ms ease all;
}

.button1:after {
    right: inherit;
    top: inherit;
    left: 0;
    bottom: 0;
}

.button1:hover:before,
.button1:hover:after {
    width: 100%;
    transition: 800ms ease all;
}

.button {
    margin-top: 10px;
    padding: 20px 20px;
}

.t:hover {
    transition: all 1s;
    transform: scale(1.1);
}

.temp {
    height: 50px;
}

.util {
    display: flex;
    height: 300px;
    justify-content: space-around;
    align-items: flex-start;
}

.util .engg {
    flex-grow: 1fr;
}

.util .med {
    flex-grow: 1fr;
}

.topnav {
    background-color: #333;
    overflow: hidden;
}

.nav {
    width: 100%;
    height: 65px;
    position: fixed;
    line-height: 65px;
    text-align: center;
}

.nav div.logo {
    float: left;
    width: auto;
    height: auto;
    padding-left: 3rem;
}

.nav div.logo a {
    margin-left: 0%;
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 4.5rem;
    padding-top: 10rem;
}

.nav div.logo img {
    margin-left: 0%;
    padding-top: 20px;
}

.nav div.logo a:hover {
    color: #1bc09a;
}

.nav div.main_list {
    height: 65px;
    float: right;
}

.nav div.main_list ul {
    width: 100%;
    height: 65px;
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav div.main_list ul li {
    width: auto;
    height: 65px;
    padding: 0;
    padding-right: 3rem;
}

.nav div.main_list ul li a {
    text-decoration: none;
    color: #fff;
    line-height: 65px;
    font-size: 2.4rem;
}

.nav div.main_list ul li a:hover {
    color: #00E676;
}

#hero {
    min-height: 100vh;
    height: 100vh;
    display: flex;
    align-items: center;
    border-bottom: 0px;
    background: $white-color;
    font-weight: 400;
    color: $white-color;
    padding: 0rem 5.6rem;
    margin-bottom: 0;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
    // Set position sticky so the jumbotron stays fixed while you scroll.
    // position: sticky;
    // If you want to set a background image on the hero section, uncomment these with yout custom image
    background-image: linear-gradient(to left top, #070537, #003c72, #0073a7, #00aed0, #12ebeb);
    @include respond(phone) {
        padding: 0rem $default-font-size;
    }
    .hero-title {
        font-size: 5.6rem;
        font-weight: 700;
        margin-bottom: 3.2rem;
        text-align: left;
        @include respond(tab-land) {
            font-size: 4rem;
        }
        @include respond(tab-port) {
            font-size: 3.6rem;
            text-align: center;
        }
        @include respond(phone) {
            font-size: 3.5rem;
            line-height: 1.5;
        }
        @include respond(phone-xs) {
            font-size: 2.8rem;
        }
    }
    .hero-cta {
        display: flex;
        @include respond(tab-port) {
            justify-content: center;
        }
        & a {
            font-size: 2.4rem;
            @include respond(phone) {
                font-size: 2rem;
            }
        }
    }
}